.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}



a.science {
    font-size: 12px;
    background-color: #FFEFE8;
    color: #F5803D;
    text-decoration: none;
    font-weight: 500;
    padding: 3px;
    border-radius: 4px;
}

a.tech {
    font-size: 12px;
    background-color: #F0F0F0;
    color: #696969;
    text-decoration: none;
    font-weight: 500;
    padding: 3px;
    border-radius: 4px;
}
a.space {
    font-size: 12px;
    background-color: #E9F5F9;
    color: #00A4FF;
    text-decoration: none;
    font-weight: 500;
    padding: 3px;
    border-radius: 4px;
}
a.politics {
    font-size: 12px;
    background-color: #F2F2FC;
    color: #800080;
    text-decoration: none;
    font-weight: 500;
    padding: 3px;
    border-radius: 4px;
}
a.business {
    font-size: 12px;
    background-color: #E8F7EB;
    color: #18BD53;
    text-decoration: none;
    font-weight: 500;
    padding: 3px;
    border-radius: 4px;
}

a.world {
     font-size: 12px;
    background-color: #eef7fd;
    color: #217AB7;
    text-decoration: none;
    font-weight: 500;
    padding: 3px;
    border-radius: 4px;
}


a.international {
    font-size: 12px;
    background-color: #FFEFE8;
    color: #DC143C;
    text-decoration: none;
    font-weight: 500;
    padding: 3px;
    border-radius: 4px;
}

a.general {
    font-size: 12px;
    background-color: #FFFFCC;
    color: #ff7f50;
    text-decoration: none;
    font-weight: 500;
    padding: 3px;
    border-radius: 4px;
}

a.defense {
    font-size: 12px;
    background-color: #FFEFE8;
    color: #DC143C;
    text-decoration: none;
    font-weight: 500;
    padding: 3px;
    border-radius: 4px;
}

a.entertainment {
    font-size: 12px;
    background-color: #FCEDF4;
    color: #DC4890;
    text-decoration: none;
    font-weight: 500;
    padding: 3px;
    border-radius: 4px;
}

a.nypost {
     font-size: 12px;
    background-color: #eef7fd;
    color: #217AB7;
    text-decoration: none;
    font-weight: 500;
    padding: 3px;
    border-radius: 4px;
}

div.article-pubdate {
    font-size: 11px;
    color: #888888;
    padding-bottom: 4px;
}

 h1 {
    font-weight: 700;
    color: #000000;

}

@media only screen and (min-width: 850px) {
  h1 {
    line-height: .7 !important
  }
}

@media only screen and (max-width: 850px) {
  h1 {
    line-height: .9 !important
  }
}

#headline a {
    font-size: 32px;
    text-decoration: none;
    color: #000000;
}

.article-content {
    font-size: 15px;
}