.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}



a.science {
    font-size: 12px;
    background-color: #FFEFE8;
    color: #F5803D;
    text-decoration: none;
}

a.tech {
    font-size: 12px;
    background-color: #F0F0F0;
    color: #696969;
    text-decoration: none;
}
a.space {
    font-size: 12px;
    background-color: #E9F5F9;
    color: #00A4FF;
    text-decoration: none;
}
a.politics {
    font-size: 12px;
    background-color: #F2F2FC;
    color: #800080;
    text-decoration: none;
}
a.business {
    font-size: 12px;
    background-color: #E8F7EB;
    color: #18BD53;
    text-decoration: none;
}

a.world {
     font-size: 12px;
    background-color: #FFEFE8;
    color: #DC143C;
    text-decoration: none;
}


a.international {
    font-size: 12px;
    background-color: #FFEFE8;
    color: #DC143C;
    text-decoration: none;
}

a.general {
    font-size: 12px;
    background-color: #FFEFE8;
    color: #DC143C;
    text-decoration: none;
}

div.article-pubdate {
    font-size: 11px;
    color: #888888;
    padding-bottom: 4px;
}

 h1 {
    font-weight: 700;
    color: #000000;
}

#headline a {
    font-size: 33px;
    text-decoration: none;
    color: #000000;
}

.article-content {
    font-size: 15px;
}