{% extends 'base.html' %}

{% block head %}

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>


<!-- Custom styles for this template -->
<!-- <link href="starter-template.css" rel="stylesheet"> -->
<link href="{{url_for('static', filename='starter-template.css')}}" rel="stylesheet" type="test/css">


{% endblock %}

{% block body %}
<div class="col-lg-8 mx-auto p-3 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">

            <!--LOGO-->
            <img src="/static/images/mf_logo_final.png" height="30px">


            <span class="fs-4"></span>
        </a>
    </header>

    <h1 class="display-5 fw-bold text-black">Track the news blazingly fast</h1>
    <p class="fs-5 col-md-8">No ads, no annoying auto-play videos, and blazingly fast. Megafeed delivers a superior way of keeping up with current events. We link to top
        stories from major news outlets so you'll never miss an important story. Links are displayed to encourage readers to
        visit the original source for further reading. You decide what you want to read more of.</p>
    <br>


    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
        <div class="col-md-6">
            <h2>Donate</h2>
            <p>Enjoy our site? Please donate to help us keep it ad free</p>
<!--            <ul class="icon-list">-->
<!--                <li><code style="background-color:#E8F7EB; color:#18BD53;">Business</code></li>-->
<!--                <li><code style="background-color:#F2F2FC; color:#800080;">Politics</code></li>-->
<!--                <li><code style="background-color:#FFEFE8; color:#DC143C;">International</code></li>-->
<!--                <li><code style="background-color:#E9F5F9; color:#00A4FF;">Space</code></li>-->
<!--&lt;!&ndash;                <li><code style="background-color:#FCEEF4; color:#DB458E;">Entertainment</code></li>&ndash;&gt;-->
<!--                <li><code style="background-color:#f0f0f0; color:#696969;">Tech</code></li>-->
<!--                <li><code style="background-color:#FFEFE8; color:#F5803D;">Science</code></li>-->
<!--                <li><code style="background-color:#FFEFE8; color:#DC143C;">Defense</code></li>-->
<!--&lt;!&ndash;                <li><code style="background-color:#FFFFCC; color:#ff7f50;">General news</code></li>&ndash;&gt;-->
<!--            </ul>-->
        </div>

        <div class="col-md-6">
            <h2>Get in touch <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
  <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
</svg></h2>
            <p>Need to contact us? Send an email to megafeed@protonmail.com</p>
        </div>
    </div>

    <footer class="pt-5 my-5 text-muted border-top">
        Created by the Megafeed team &middot; &copy; 2021
    </footer>
</div>


{% endblock %}