{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css"/>
{% endblock %}

{% block body %}

<div class="col-lg-8 mx-auto p-3 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">

            <!-- LOGO-->
                        <img src="/static/images/mf_logo_final.png" height="30px">

        </a>
    </header>

    <!-- MAIN HEADLINE -->
<!--     <img src="/static/images/breaking.jpeg" class="img-fluid" height="200px">-->
<!--    <h1 id="headline" class="display-5 fw-bold text-black"><a href="https://www.wsj.com/articles/google-strikes-deal-with-hospital-chain-to-develop-healthcare-algorithms-11622030401?mod=hp_lead_pos1">Google to develop healthcare algorithms with hospital</a></h1>-->
<!--    <br><br>-->


    {% for article in articles.items %}
        <span class="article-content">{{article.title}}</span>
        <a class="{{article.category}}" href="{{article.link}}">{{article.link|domain}}</a>
        <div class="article-pubdate">{{article.published|format_time}}</div>
<!--        <br /> <br />-->
        {% endfor %}
    <br />
        {% for page_num in articles.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=3) %}
            {% if page_num %}
                {% if articles.page == page_num %}
                    <a class="btn btn-primary mb-4" , href="{{url_for('home', page=page_num)}}">{{page_num}}</a>
                {% else %}
                    <a class="btn btn-outline-primary mb-4" , href="{{url_for('home', page=page_num)}}">{{page_num}}</a>
                {% endif %}
            {% else %}
                <span class="">...</span>
            {% endif %}
    {% endfor %}

    <hr class="col-3 col-md-2 mb-5">
    <div class="row g-5">
<!--        <div class="col-md-6">-->
<!--            <h2>Support Megafeed</h2>-->
<!--            <p>Help keep this project up and running ad free. Your donation will go a long way in helping our team-->
<!--                maintain and develop this site</p>-->
<!--            <a href="/donate" class="btn btn-primary">-->
<!--                Donate-->
<!--            </a>-->
<!--        </div>-->

        <div class="col-md-6">
<!--            <h2>About us</h2>-->
<!--            <p>Read about why we started the Megafeed project.</p>-->
<!--            <a href="/about" class="btn btn-primary">-->
<!--                About-->
<!--            </a>-->
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2021 Megafeed</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="/about">About</a></li>
        </ul>
    </footer>
</div>
{% if views %}
    <!-- {{ views }} -->
{% endif %}
{% endblock %}